; increment $R0 from 0 to 2^17 (wraps back to 0 and sets carry flag)

	LDVR 	0		$R0
	LDVR	0x0010 	$R1 ; Carry flag

ITERATION_LOOP:

	INC 	$R0
	AND		$FLAG	$R1
	JZ 		ITERATION_LOOP

; Halt program

	HALT
